header {
    padding: 2em;
}

body {

    font-family: Arial;
    background-color: #FFAAEE;
}

.title {
    font-weight: 550;
    font-size: 15em;
}

.subtitle {
    font-weight: 400;
    font-size: 10em;
}

.center {
    text-align: center;
}

.navbar {
    text-align: top;
    font-size: 15em;
    background-color: #83c3e0;
}